@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: local(Poppins), url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: local(Poppins), url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  src: local(Poppins), url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}

:root {
  --gray-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --orange: hsl(34, 97%, 64%);
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --font-base: Poppins, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: var(--white);
  line-height: 1.5;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
