@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: local(Poppins), url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: local(Poppins), url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  src: local(Poppins), url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}

:root {
  --gray-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --orange: hsl(34, 97%, 64%);
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --font-step-1: 0.8125rem; // 13px
  --font-step-2: 0.9375rem; // 15px
  --font-step-3: 1.25rem; // 20px
  --font-step-4: clamp(
    1.5rem,
    0.784rem + 3.053vw,
    2.25rem
  ); // 24px - 36px from tablet to mobile
  --font-base: Poppins, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}
body {
  background-color: var(--white);
  line-height: 1.5;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
  font-size: var(--font-step-1);
}

h1 {
  font-size: clamp(1.5rem, 0.784rem + 3.053vw, 2.25rem);
  font-weight: 200;
}

h2 {
  font-size: var(--font-step-3);
  font-weight: 600;
}

strong {
  font-weight: 600;
}

hgroup p {
  font-size: var(--font-step-2);
}

h1,
h2 {
  max-width: 50ch;
}

p {
  max-width: 60ch;
}

.subheading {
  display: block;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
